body {
    background-image: url(../images/collage.jpg);
}

#core {
    background: beige;
    text-align: center;
    color: red;
}

#title {
    font-size: 75px;
    font-style: italic;
}

#button {
    background: orange;
    color: white;
    padding: 30px;
    font-size: 30px;
}

h2 {
    color: black;
}

h4 {
    color: gray;
}

#quiz {
    color: black;
}

